*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}

.wrapper{
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%)
}
.container{
    display: grid;
    grid-template-columns: 300px 300px;
    border-radius: 10px;
    height: 450px;
    width: 600px; 
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);

}

.text{
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    padding-left: 31.5px;
    padding-right: 31.5px;
}

#product{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 12px;
    color: hsl(228, 12%, 48%);
    padding-bottom: 18px;
    padding-top: 32px;
}

#name{
    font-family: "Fraunces", sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    transform: scale(1, 0.95);
    font-size: 35px;
    line-height: 34px;
    height:min-content;
    padding-bottom: 21px;
}

#mainText{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    color: hsl(228, 12%, 48%);
    padding-bottom: 25px;
}

#price{
    font-family:"Fraunces", sans-serif; 
    letter-spacing: 1px;
    font-size: 33px;
    color: hsl(158, 36%, 37%);
    padding-bottom: 25px; 
}

#add{
    border:none;
    border-radius: 8px;
    background-color:hsl(158, 36%, 37%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    height: 48px;
    width: 235px;
    margin-bottom: 30px;
}

#cart{
    position: absolute; 
    transform: translateY(1px) translateX(-22px);
}


#add:hover{
    background-color:hsl(159, 37%, 18%);
    cursor: pointer;
}

#oldPrice{
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    color: hsl(228, 12%, 48%);
}

img{
    border-radius: 10px 0px 0px 10px;
    height: 450px;
    width: 300px;
}